* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: #f9fafc; /* Clean white theme */
}

/* Remove link default styling */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove focus outline */
*:focus {
  outline: none;
}